Source: ros-hydro-pr2-controller-interface
Section: misc
Priority: extra
Maintainer: Austin Hendrix <ahendrix@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-controller-interface, ros-hydro-pr2-mechanism-model, ros-hydro-roscpp
Homepage: http://ros.org/wiki/pr2_controller_interface
Standards-Version: 3.9.2

Package: ros-hydro-pr2-controller-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-controller-interface, ros-hydro-pr2-mechanism-model, ros-hydro-roscpp
Description: This package specifies the interface to a realtime controller. A controller that implements this interface can be executed by the controller manager in the real time control loop. The package basically contains the C++ controller base class that all controllers need to inherit from.
