Source: ros-hydro-pr2-mechanism
Section: misc
Priority: extra
Maintainer: Austin Hendrix <ahendrix@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/pr2_mechanism
Standards-Version: 3.9.2

Package: ros-hydro-pr2-mechanism
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-pr2-controller-interface, ros-hydro-pr2-controller-manager, ros-hydro-pr2-hardware-interface, ros-hydro-pr2-mechanism-diagnostics, ros-hydro-pr2-mechanism-model
Description: The pr2_mechanism stack contains the infrastructure to control the PR2 robot in a hard realtime control loop.
